@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.CardData {
	position: relative;
	margin-top: 40px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	width: 410px;
	height: 210px;
  cursor: pointer;
	overflow: hidden;
}

.avatar {
	content: "";
	position: absolute;
	left: 20px;
	top: 25%;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
	border: 5px solid white;
	overflow: hidden;
}

.CardMail {
	content: "";
	position: absolute;
	left: 38%;
	top: 64%;
	color: white;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	z-index: 6;
}
.Cardtext {
	content: "";
	position: absolute;
	left: 38%;
	top: 52%;
	font-weight: bold;
	color: white;
	font-size: 21px;
	font-family: "Montserrat", sans-serif;
	z-index: 6;
}

.CardData:before {
	content: "";
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	border: 0.1px solid #707070;
	border-radius: 25px 25px 0 0;
	z-index: 5;
}

.CardSetting {
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
}

.tickIcon {
	width: 10px;
	height: 10px;
}

@media only screen and (max-width: 1280px) {
	.CardData {
		position: relative;
		margin-top: 40px;
		border-radius: 25px;
		width: 300px;
		height: 150px;
		overflow: hidden;
	}
	.avatar {
		content: "";
		position: absolute;
		left: 20px;
		top: 25%;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		z-index: 5;
		border: 5px solid white;
		overflow: hidden;
		z-index: 6;
	}

	.CardMail {
		font-size: 16px;
	}
	.Cardtext {
		font-size: 18px;
	}
}

@media only screen and (max-width: 1020px) {
	.CardData {
		position: relative;
		margin-top: 40px;
		border-radius: 25px;
		width: 250px;
		height: 150px;
		overflow: hidden;
	}
	.avatar {
		content: "";
		position: absolute;
		left: 20px;
		top: 25%;
		width: 80px;
		height: 80px;
		border-radius: 100%;
		z-index: 5;
		border: 5px solid white;
		overflow: hidden;
		z-index: 6;
	}

	.CardMail {
		left: 45%;
		font-size: 12px;
		top: 58%;
	}
	.Cardtext {
		left: 45%;
		font-size: 14px;
		top: 46%;
	}
	.CardSetting {
		content: "";
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

@media only screen and (max-width: 880px) {
	.CardData {
		position: relative;
		margin-top: 40px;
		border-radius: 25px;
		width: 220px;
		height: 150px;
		overflow: hidden;
	}
	.avatar {
		content: "";
		position: absolute;
		left: 20px;
		top: 35%;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		z-index: 5;
		border: 5px solid white;
		overflow: hidden;
		z-index: 6;
	}

	.CardMail {
		left: 40%;
		font-size: 12px;
		top: 60%;
	}
	.Cardtext {
		left: 40%;
		font-size: 14px;
		top: 50%;
	}
	.CardSetting {
		content: "";
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

@media only screen and (max-width: 750px) {
	.CardData {
		position: relative;
		margin-top: 40px;
		border-radius: 25px;
		width: 180px;
		height: 120px;
		overflow: hidden;
	}
	.avatar {
		content: "";
		position: absolute;
		left: 20px;
		top: 35%;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		z-index: 5;
		border: 5px solid white;
		overflow: hidden;
		z-index: 6;
	}

	.CardMail {
		left: 48%;
		font-size: 8px;
		top: 65%;
	}
	.Cardtext {
		left: 48%;
		font-size: 10px;
		top: 54%;
	}
	.CardSetting {
		content: "";
		position: absolute;
		right: 5px;
		top: 10px;
	}
	.tickIcon {
		width: 10px;
		height: 10px;
	}
}

@media only screen and (max-width: 750px) {
	.CardData {
		position: relative;
		margin-top: 40px;
		border-radius: 15px;
		width: 140px;
		height: 90px;
		overflow: hidden;
	}
	.avatar {
		content: "";
		position: absolute;
		left: 20px;
		top: 35%;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		z-index: 5;
		border: 5px solid white;
		overflow: hidden;
		z-index: 6;
	}

	.CardMail {
		left: 48%;
		font-size: 6px;
		top: 65%;
	}
	.Cardtext {
		left: 48%;
		font-size: 7px;
		top: 54%;
	}
	.CardSetting {
		content: "";
		position: absolute;
		right: 5px;
		top: 10px;
	}
	.tickIcon {
		width: 5px;
		height: auto;
	}
	.CardSetting {
		content: "";
		position: absolute;
		right: 0px;
		top: 5px;
	}
}
