@import "./../../../../../css/main.scss";

.Container {
  padding: 1rem 4rem;
  text-align: left;

  .text {
    @include fontfamily("Arial", 18px, #bcc5d3, normal);
    padding: 0.5rem 0;
  }
  .textblue {
    text-align: center;
    @include fontfamily("Arial", 18px, #2bc2d3, normal);
    padding: 0.5rem 0 1rem 0;
  }
  .button {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300.37px;
    background-color: #64f1b8;
    height: 51px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 25px;
    @include fontfamily("Montserrat", 18px, white, bold);
  }
  .card {
    padding: 0 2rem;
    margin: 1rem 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    @include fontfamily("Montserrat", 22px, #bcc5d3, bold);
  }

  .cardSelected {
    background-color: #64f1b8;
    padding: 0 2rem;
    margin: 1rem 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    @include fontfamily("Montserrat", 22px, white, bold);
  }
}

@media only screen and (max-width: 480px) {
  .Container{
    padding: 0 1.5rem;
    .warnIcon{
      width: 14.5px;
      height: 14.5px;
    }
    .text {
      @include fontfamily("Arial", 12px, #bcc5d3, normal);
      padding: 0.5rem 0;
    }
    .textblue {
      text-align: center;
      @include fontfamily("Arial", 12px, #2bc2d3, normal);
      padding: 0.5rem 0 1rem 0;
    }
    .button {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      width: 160px;
      background-color: #64f1b8;
      height: 32px;
      margin: 0 auto;
      margin-bottom: 1rem;
      border-radius: 25px;
      @include fontfamily("Montserrat", 13px, white, bold);
      img{
        width: 14px;
        height: 14px;
      }
    }
    .card {
      padding: 0 2rem;
      margin: 1rem 0;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      @include fontfamily("Montserrat", 22px, #bcc5d3, bold);
    }
  
    .cardSelected {
      background-color: #64f1b8;
      padding: 0 2rem;
      margin: 1rem 0;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      @include fontfamily("Montserrat", 22px, white, bold);
    }
  }
}

@media only screen and (max-width: 380px) {
  .Container{
    padding: 0 1.5rem;
    .warnIcon{
      width: 14.5px;
      height: 14.5px;
    }
    .text {
      @include fontfamily("Arial", 12px, #bcc5d3, normal);
      padding: 0.5rem 0;
    }
    .textblue {
      text-align: center;
      @include fontfamily("Arial", 12px, #2bc2d3, normal);
      padding: 0.5rem 0 1rem 0;
    }
    .button {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      width: 160px;
      background-color: #64f1b8;
      height: 32px;
      margin: 0 auto;
      margin-bottom: 1rem;
      border-radius: 25px;
      @include fontfamily("Montserrat", 13px, white, bold);
      img{
        width: 14px;
        height: 14px;
      }
    }
    .card {
      padding: 0 2rem;
      margin: 1rem 0;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      @include fontfamily("Montserrat", 14px, #bcc5d3, bold);
    }
  
    .cardSelected {
      background-color: #64f1b8;
      padding: 0 2rem;
      margin: 1rem 0;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      @include fontfamily("Montserrat", 16px, white, bold);
    }
  }
}
