// @import "../mixin/mixin.scss";
.ButtonStyle {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  @include fontfamily("Arial", 18px, white, normal);
  background-color: #64f1b8;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 31px;
    height: 26px;
  }
}

@media only screen and (max-width: 480px) {
  .ButtonStyle {
    margin-top: 100px;
    @include fontfamily("Arial", 16px, white, normal);
    //   background-color: #64f1b8;
    height: 50px;
    //   width: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    img {
      width: 22px;
      height: 22px;
    }
  }
}
