@import "../../../../../css/main.scss";

.RefContainer {
  text-align: left;
  @include flexColumn();
  .Refheadingtext {
    padding: 2rem 6rem;
    width: 100%;
    @include fontfamily("Arial", 18px, #4c5264, bold);
    border-bottom: 2px solid $border-bottom-color;
  }
  .Refheading2text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 2rem 2rem 6rem;
    @include fontfamily("Arial", 18px, #bcc5d3, normal);
  }
  .Refparagraphtext {
    width: 100%;
    padding: 0rem 2rem 2rem 6rem;
    @include fontfamily("Arial", 18px, #bcc5d3, normal);
    border-bottom: 2px solid $border-bottom-color;
  }
  .RefTab {
    width: 100%;
    padding: 2rem 2rem 2rem 6rem;
    @include fontfamily("Arial", 17px, #4c5264, normal);
    border-bottom: 2px solid $border-bottom-color;
    display: flex;
    justify-content: space-between;
    .RefTab1 {
      display: flex;
      flex-direction: column;
      .RefTabSubText {
        padding: 0.5rem 0;
        @include fontfamily("Arial", 18px, #bcc5d3, normal);
      }
    }
  }
}


@media only screen and (max-width: 880px) {
  .RefContainer {
    padding-bottom: 2rem;

  }
}

@media only screen and (max-width: 480px) {
  .RefContainer {
    text-align: left;
    @include flexColumn();
    .Refheadingtext {
      padding: 1rem;
      width: 100%;
      @include fontfamily("Arial", 16px, #4c5264, bold);
      border-bottom: 2px solid $border-bottom-color;
    }
    .Refheading2text {
      padding: 1rem 1rem 0.5rem 1rem;
      @include fontfamily("Arial", 16px, #bcc5d3, normal);
    }
    .Refparagraphtext {
      padding: 0 1rem 1rem 1rem;
      @include fontfamily("Arial", 12px, #bcc5d3, normal);
    }
  
    .RefTab {
      width: 100%;
      padding: 0.5rem 1rem;
      @include fontfamily("Arial", 16px, #4c5264, normal);
      border-bottom: 2px solid $border-bottom-color;
      .RefTab1 {
        .RefTabSubText {
          padding: 0.5rem 0;
          @include fontfamily("Arial", 12px, #bcc5d3, normal);
        }
      }
    }
  }
}

