.HomeContainer {
  padding: 100px 50px;
  border-top: 1px solid rgba(0,0,0,0.2);;
}

.cardContainer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  height: 430px;
  padding: 1rem;
}

.img {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.Name {
  font-family: "Ubuntu", sans-serif;
  font-size: 37px;
  /* font-weight: bold; */
  color: #505d68;
  text-align: left;
  width: 100%;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #505d68;
  width: 100%;
  text-align: justify;
}

.LearnMore {
  margin: 0 auto;
  background-color: #51F0B0;
  color: white;
  font-size: 12px;
  padding: 0 2rem;
  font-family: "Ubuntu", sans-serif;
  border: none;
}
@media only screen and (max-width: 880px) {
  .HomeContainer {
    padding: 50px 25px;
  }
  .Card {
    min-width: 180px;
    height: 430px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 780px) {
  .HomeContainer {
    padding: 50px;
  }
  .cardContainer {
    flex-direction: column;
  }
  .Card {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .paragraph {
    padding: 1rem 0;
    font-size: 16px;
  }
  .Name {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .HomeContainer {
    padding: 50px 25px;
  }
  .Card {
    width: 100%;
    height: auto;
  }
  .Name {
    text-align: center;
    padding: 1rem 0;
  }
  .paragraph {
    padding: 1rem 0;
    font-size: 16px;
  }
}
