.HomeContainer {
  padding: 0 100px;
  /* height: 100vh; */
  display: flex;
}

.TextContainer {
  width: 40%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ImgContainer {
  width: 60%;
  background-image: url("../../background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: hotpink; */
  height: 680px;
}

.Heading {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #505d68;
  text-align: center;
}

.SubHeading {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #37393a;
}

.Paragraph {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #37393a;
}

.ButtonDesktop {
  background-color: #51f0b0;
  border: none;
  height: 40px;
}

.ButtonMobile {
  display: none;
  background-color: #51f0b0;
  border: none;
  height: 40px;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .HomeContainer {
    /* height: 120vh; */
    padding: 100px;
    flex-direction: column;
    align-items: center;
  }
  .TextContainer,
  .ImgContainer {
    width: 100%;
  }
  .ButtonDesktop {
    display: none;
  }
  .ButtonMobile {
    display: block;
  }
}

@media only screen and (max-width: 780px) {
  .HomeContainer {
    /* height: 130vh; */
    padding: 20px;
  }
  .TextContainer{
    width: 100%;
    padding: 0;
  }
  .ImgContainer {
    width: 100%;
    height: 300px;
  }
  .ButtonDesktop {
    display: none;
  }
  .ButtonMobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .Heading {
    font-size: 38px;
    text-align: center;
  }
  .SubHeading{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 380px) {
  .ButtonMobile{
    margin-top: 0;
  }
}
