.HomeFooter {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
}

ul {
  text-decoration: none;
  list-style: none;
}

.HomeFooterC2,
.HomeFooterC3,
.HomeFooterC4 {
  width: 10%;
  font-family: "Ubuntu", sans-serif;
}
.HomeFooterC1 {
  width: 17%;
  overflow: hidden;
}
li {
  margin-left: -40px;
  text-align: left;
}
h1 {
  text-align: left;
  font-size: 14px;
  color: #505d68;
}
.Link,
a {
  color: #a1aeb7;
}

.paragraph {
  font-size: 20px;
  text-align: justify;
  color: #707070;
  padding: 0 1rem;
}

.imgHandler {
  width: 250px;
  margin-top: -50px;
  margin-left: -100px;
}

.IconHandler {
  font-size: 26px;
  width: 20px;
}

.LastFooter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.HomeFooterC5 {
  display: none;
}
@media only screen and (max-width: 880px) {
  .HomeFooter {
    justify-content: space-between;
    padding: 25px;
  }
  .LastFooter {
    flex-direction: column;
    padding: 50px;
  }
  .HomeFooterC1 {
    display: none;
  }
  .HomeFooterC2,
  .HomeFooterC3,
  .HomeFooterC4 {
    padding: 20px;
    width: 100%;
  }
  .HomeFooterC5 {
    display: block;
    overflow: hidden;
    padding: 25px 0;
  }
  .imgHandler {
    width: 180px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .paragraph {
    padding: 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .imgHandler {
    width: 140px;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
