.HomeContainer {
  padding: 20px 50px;
  border-top: 1px solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.imghandler {
  width: 60%;
  height: 100%;
}

.datahandler {
  padding: 2rem 0 7rem 11rem;
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph {
  font-family: Ubuntu;
  font-size: 16px;
  color: #505d68;
  text-align: justify;
}

.headingStyle {
  text-align: left;
  font-size: 65px;
  font-weight: bold;
  color: #2f2e41;
}
.Buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ButtonsMobile {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .headingStyle {
    text-align: left;
    font-size: 38px;
    font-weight: bold;
    color: #2f2e41;
  }
  .datahandler {
    padding: 2rem 0 7rem 2rem;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 920px) {
  .HomeContainer {
    flex-direction: column;
    padding: 50px 25px;
  }
  .Buttons {
    display: none;
  }
  .ButtonsMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
  .imghandler {
    width: 100%;
  }
  .datahandler {
    padding: 0;
    width: 100%;
  }
  .headingStyle {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #2f2e41;
    padding: 1rem 0;
  }
}
