.HomeContainer {
  padding: 100px;
  border-top: 1px solid rgba(0,0,0,0.2);;
}

.cardContainer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 1rem;
  width: 360px;
  height: 390px;
  background-color: white;
}

.imgContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
}

.img {
  width: 150px;
  height: 110px;
}

.Name {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #505d68;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #A1AEB7;
  text-align: justify;
}

.LearnMore {
  margin: 0 auto;
  background-color: none;
  color: #2bc2d3;
  font-family: "Ubuntu", sans-serif;
  border: none;
}

.Badge {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  left: -20px;
  top: -15px;
  width: 38px;
  height: 38px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 16px;
  padding: 0.4rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .HomeContainer {
    padding: 50px;
  }
  .cardContainer {
    flex-direction: column;
  }
  .Card {
    width: 100%;
    height: auto;
  }
  .paragraph {
    padding: 1rem 0;
    font-size: 16px;
  }
  .Name{
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .HomeContainer{
    padding: 50px 25px;
  }
  .Card {
    width: 100%;
    height: auto;
  }
  .Name{
    padding: 1rem 0;
  }
  .paragraph {
    padding: 1rem 0;
    font-size: 16px;
  }
}