.HomeContainer {
  padding: 100px;
  border-top: 1px solid rgba(0,0,0,0.2);;
  /* height: 100%; */
}

.cardContainer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.img {
  background-image: url("./img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 123px;
  height: 123px;
  border-radius: 100%;
}

.img2 {
  background-image: url("./img/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 123px;
  height: 123px;
  border-radius: 100%;
}

.img3 {
  background-image: url("./img/img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 123px;
  height: 123px;
  border-radius: 100%;
}

.Card {
  width: 360px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.paragraph {
  font-family: Ubuntu;
  font-size: 16px;
  color: #a1aeb7;
}

.Name {
  color: #505d68;
}

@media only screen and (max-width: 980px) {
  .HomeContainer {
    /* height: 105vh; */
    padding: 50px;
  }
  .Card {
    width: 100%;
  }
}

/* @media only screen and (max-width: 768px) {
  .HomeContainer {
    height: 60vh;
    padding: 50px 10px;
  }
} */
@media only screen and (max-width: 700px) {
  .HomeContainer {
    /* height: 105vh; */
    padding: 50px 10px;
  }
  .Card {
    width: 113px;
    height: 420px;
    padding: 0;
  }
  .img,
  .img2,
  .img3 {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 350px) {
  .HomeContainer {
    /* height: 135vh; */
    padding: 50px 10px;
  }
  .Card {
    width: 90px;
    height: 520px;
    padding: 0;
  }
  .img,
  .img2,
  .img3 {
    width: 50px;
    height: 50px;
  }
}
