@import "../../../css/main.scss";
.AddButton {
  margin-bottom: 50px;
  width: 100px;
  height: 76px;
  background-color: #2bc2d3;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  outline: none;
  border: none;
}
.container {
  width: 611px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .creatorsHandler {
    width: 100%;

    .card {
      height: 167px;
      display: flex;
      .CardInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: left;
        padding: 0 1.5rem;
        div:nth-child(1) {
          font-family: "Montserrat";
          font-size: 26px;
          font-weight: bold;
        }
        div:nth-child(2) {
          padding-left: 15px;
          font-family: "Montserrat";
          font-size: 14px;
        }
        .Button {
          width: 200px;
          height: 35px;
          border-radius: 10px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "Montserrat";
          font-size: 14px;
          font-weight: bold;
        }
      }

      .AvatarHandler {
        width: 50%;
        margin-top: -55px;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 70px;
        overflow: hidden;
        .Avatar {
          width: 100%;
          height: 100% !important;
        }
      }
      .CardInfo {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .AddButton {
    margin: 0;
    width: 74px;
    height: 74px;
  }
  .container {
    margin: 0 auto;

    .creatorsHandler {
      width: 100%;
      .card {
        height: 154px;
        display: flex;
        .CardInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: left;
          padding: 0 1.5rem;
          div:nth-child(1) {
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: bold;
          }
          div:nth-child(2) {
            padding-left: 15px;
            font-family: "Montserrat";
            font-size: 14px;
          }
          .Button {
            width: 115px;
            height: 35px;
            border-radius: 10px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: bold;
            img {
              width: 14px;
              height: 11px;
            }
          }
        }

        .AvatarHandler {
          width: 50%;
          margin-top: -45px;
          background-color: rgba(0, 0, 0, 0.2);
          border-bottom-left-radius: 70px;
          overflow: hidden;
          .Avatar {
            width: 100%;
            height: 100% !important;
          }
        }
        .CardInfo {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .AddButton {
    margin: 0;
    width: 74px;
    height: 74px;
  }
  .container {
    margin: 0 auto;

    .creatorsHandler {
      width: 100%;
      .card {
        height: 130px;

        .CardInfo {
          padding: 0 1.5rem;
          div:nth-child(1) {
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: bold;
          }
          div:nth-child(2) {
            padding-left: 15px;
            font-family: "Montserrat";
            font-size: 12px;
          }
          .Button {
            width: 100px;
            height: 35px;
            border-radius: 10px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: bold;
            img {
              width: 14px;
              height: 11px;
            }
          }
        }

        .AvatarHandler {
          width: 50%;
          margin-top: -45px;
          background-color: rgba(0, 0, 0, 0.2);
          border-bottom-left-radius: 70px;
          overflow: hidden;
          .Avatar {
            width: 100%;
            height: 100% !important;
          }
        }
        .CardInfo {
          width: 50%;
        }
      }
    }
  }
}
