@mixin fontfamily($family, $size, $color, $weight) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin flexColumn(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}