.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 6rem;
  .exploreHandler {
    width: 45%;
  }
  .profileHandler {
    width: 45%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0;
  }
}

@media only screen and (max-width: 880px) {
    .container {
      padding: 0;
      .profileHandler{
          width: 100%;
      }
      .exploreHandler{
          display: none;
      }
    }
  }
  