.Navbar {
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #707070; */
  background-color: white;
  overflow: hidden;
  padding: 0 3rem;
}

.imgStyle {
  width: 20px;
}

.LogoHandler {
  background-image: url("../logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 80px;
}

.Navtext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #505d68;
}

.SearchBar {
  width: 17rem;
  height: 41px;
  border-radius: 20px;
}

.Navbarstart {
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarEnd {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SearchIcon {
  font-size: 24px;
}

@media only screen and (max-width: 1080px) {
  .Navbar {
    padding: 0 1rem;
  }
  .SearchBar {
    width: 10rem;
    font-size: 10px;
  }
  .Navbarstart {
    width: 18rem;
  }
  .NavbarEnd {
    width: 18rem;
  }
  .SearchIcon {
    font-size: 18px;
  }
  .imgStyle {
    width: 15px;
  }
}

@media only screen and (max-width: 780px) {
  .NavbarEnd {
    width: 11rem;
  }
}

@media only screen and (max-width: 580px) {
  .Navbar{
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .SearchIcon {
    font-size: 12px;
  }
  .Navbar {
    /* background-color: red; */
    padding: 0 1rem 0 0;
  }
  .LogoHandler {
    background-size: contain;
  }
  .Navtext {
    font-size: 9px;
  }
  .SearchBar {
    width: 5.8rem;
  }
  .SearchIconStyle {
    font-size: 10px;
  }
  .Navbarstart {
    width: 11.5rem;
  }
  .NavbarEnd {
    width: 8rem;
  }
  .imgStyle {
    width: 12px;
  }
}

@media only screen and (max-width: 340px) {
  .Navbar {
    padding: 0 1rem 0 0;
  }
  .LogoHandler {
    background-size: contain;
  }
  .Navtext {
    font-size: 9px;
  }
  .SearchBar {
    width: 5rem;
  }
  .Navbarstart {
    width: 10.5rem;
  }
  .NavbarEnd {
    width: 5rem;
  }
  .imgStyle {
    width: 10px;
  }
}
