@import "../../../css//main.scss";

.container{
  padding-bottom: 100px;
  .ButtonStyle {
    margin-top: 220px;
    @include fontfamily("Arial", 18px, white, normal);
    background-color: #64f1b8;
    height: 80px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.DesktopStreamContainer {
  display: flex;
  justify-content: space-between;
  padding:  0 7rem;
}

.MobileStreamContainer {
  display: none;
}

.StreamFormCss {
  padding: 3rem;
  text-align: left;
  width: 500px;
  .StreamFormLabel {
    @include fontfamily("Montserrat", 17px, #656565, normal);
  }
  .inputStream {
    border: none;
    border-bottom: 2px solid $heading-bg-mobile !important;
    padding: 0 !important;
    @include fontfamily("Montserrat", 18px, #656565, normal);
    .ant-select-selector {
      padding: 0 !important;
    }
  }
  .InputTagStyle {
    width: 45px;
    height: 37px;
    @include flexRow();
    border: 2px solid #2680eb;
    border-radius: 10px;
    @include fontfamily("Montserrat", 18px, #656565, normal);
  }
  .InputTagsStyle {
    border: 2px solid #2bc2d3;
    max-width: 200px;
    padding: 0.4rem 2rem;
    height: 37px;
    border-radius: 10px;
    @include fontfamily("Montserrat", 18px, #656565, normal);
  }
  .inputStream::placeholder,
  .SelctText {
    @include fontfamily("Montserrat", 18px, #656565, normal);
  }
}
.mobileInfo {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0rem 2.5rem;
  border-bottom: 1px solid $border-bottom-color;
  justify-content: space-between;

  .mobileInfoCol {
    margin-top: 37px;
    @include flexColumn();
    height: 100%;
  }
  .mobileInfoCol {
    span:nth-child(1),
    span:nth-child(2) {
      @include fontfamily("Montserrat", 18px, #b4b2b2, bold);
      padding: 0.5rem 0;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .DesktopStreamContainer {
    padding: 0;
  }
}

@media only screen and (max-width: 980px) {
  .DesktopStreamContainer {
    display: none;
  }
  .MobileStreamContainer {
    display: block;
  }
  .StreamFormCss{
    width:100%;
  }
}
