.ant-carousel .slick-dots li {
    position: relative;
    display: inline-block;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 30px;
    height: 10px;
    margin: 0 2px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.ant-carousel .slick-dots-bottom {
    bottom: 10px;
}

.ant-modal-body{ 
    padding: 0;
}

.ant-modal-content{
    /* height: 500px; */
}
