.Navbar {
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  background-color: white;
  overflow: hidden;
  padding: 0 4rem;
}

.imgStyle{
  width: 20px;
}

.LogoHandler {
  background-image: url("./logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 80px;
}

.Navtext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #505d68;
}

.SearchBar {
  width: 17rem;
  height: 41px;
  border-radius: 20px;
}

.Navbarstart {
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarEnd {
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GettingStarted {
  width: 146px;
  height: 40px;
  color: white;
  background-color: #51f0b0;
}

.LogIn {
  border: none;
  font-weight: 600;
}

.SearchIcon{
  font-size: 24px;
}

@media only screen and (max-width: 880px) {
  .Navbar {
    padding: 0 1rem;
  }
  .SearchBar {
    width: 10rem;
    font-size: 10px;
  }
  .Navbarstart {
    width: 18rem;
  }
  .NavbarEnd {
    width: 12rem;
  }
  .GettingStarted {
    width: 7rem;
    height: 40px;
    color: white;
    background-color: #51f0b0;
    font-size: 10px;
  }
  .LogIn {
    font-size: 10px;
    font-weight: 300;
  }
  .SearchIcon{
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .SearchIcon{
    font-size: 16px;
  }
  .Navbar {
    padding: 0 0.5rem;
  }
  .LogoHandler {
    background-size: contain;
    object-fit: contain;
  }
  .Navtext {
    font-size: 9px;
  }
  .SearchBar {
    width: 5rem;
    height: 1.5rem;
  }
  .Navbarstart {
    width: 12rem;
  }
  .NavbarEnd {
    width: 10rem;
  }
  .GettingStarted {
    width: 6rem;
    height: 30px;
    color: white;
    background-color: #51f0b0;
    font-size: 8px;
  }
  .LogIn {
    font-size: 10px;
    font-weight: 300;
    height: 30px;
    border: none;
  }
}

@media only screen and (max-width: 380px) {
  .SearchIcon{
    font-size: 12px;
  }
  .Navbar {
    /* background-color: red; */
    padding: 0 1rem 0 0;
  }
  .LogoHandler {
    background-size: contain;
  }
  .Navtext {
    font-size: 9px;
  }
  .SearchBar {
    width: 5.8rem;
  }
  .SearchIconStyle {
    font-size: 10px;
  }
  .Navbarstart {
    width: 20rem;
  }
  .NavbarEnd {
    width: 10rem;
  }
  .GettingStarted {
    width: 5.8rem;
    height: 30px;
    color: white;
    background-color: #51f0b0;
    font-size: 8px;
  }
  .LogIn {
    font-size: 9px;
    font-weight: 300;
    height: 30px;
    border: none;
  }
}

@media only screen and (max-width: 340px) {
  .Navbar {
    padding: 0 1rem 0 0;
  }
  .LogoHandler {
    background-size: contain;
  }
  .Navtext {
    font-size: 9px;
  }
  .SearchBar {
    width: 5rem;
  }
  .Navbarstart {
    width: 11rem;
  }
  .NavbarEnd {
    width: 7.4rem; 
  }
  .GettingStarted {
    padding: 0;
    width: 4rem;
    height: 25px;
    color: white;
    background-color: #51f0b0;
    font-size: 6px;
  }
  .LogIn {
    font-size: 7px;
    font-weight: 300;
    height: 30px;
    border: none;
  }
}
