@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.post {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.posthandler {
  position: relative;
  /* background-color: red; */
}

.showtext{
  padding: 1rem 0 0 0;
}
.HideCardHeader,
.HideavatarStyle,
.hidetext {
  display: none;
}

.CardHeader {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.UserAddress {
  font-family: "Montserrat", sans-serif;
  color: #9a9ca2;
  font-size: 16px;
}

.UserName {
  font-family: "Montserrat", sans-serif;
  color: #9a9ca2;
  font-size: 16px;
  font-weight: bold;
}

.PostDes {
  font-family: "Montserrat", sans-serif;
  color: #817889;
  font-size: 13px;
  text-align: left;
}

.PostDate {
  font-family: "Montserrat", sans-serif;
  color: #afb5b9;
  font-size: 17px;
}

.PostMedia {
  margin: 40px auto;
  width: 383px;
  height: 204px;
  border-radius: 15px;
  object-fit: contain;
  overflow: hidden;
}

.postText {
  font-family: "Montserrat", sans-serif;
  color: #817889;
  font-size: 12px;
  font-weight: bold;
}

.avatarStyle {
  content: "";
  position: absolute;
  left: 0;
  border: 2px solid #2bc2d3;
  width: 64px;
  height: 64px;
}

.menu {
  padding: 1rem 0;
}

.postheading {
  font-family: "Montserrat", sans-serif;
  color: #4c5264;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.postparagraph {
  font-family: Arial, Helvetica, sans-serif;
  color: #4c5264;
  font-size: 18px;
  text-align: left;
}
@media only screen and (max-width: 680px) {
  .PostMedia {
    margin: 20px auto;
    width: 100%;
    height: 180px;
    border-radius: 15px;
  }
  .avatarStyle {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 40px;
    height: 40px;
  }
  .CardHeader {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .PostMedia {
    margin: 10px auto;
    width: 100%;
    height: 140px;
    border-radius: 15px;
  }
  .avatarStyle {
    border: 2px solid #2bc2d3;
    width: 30px;
    height: 30px;
  }
  .CardHeader {
    margin-left: 40px;
  }
  .postheading {
    font-size: 16px;
  }
  .postparagraph {
    font-size: 14px;
  }
}
