@import "../../../css/main.scss";

@mixin tabsCss($bg, $textcolor,$height) {
  margin-top: 20px;
  width: 100%;
  height: $height;
  padding: 0 20px 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg;
  border: 1px solid #64f1b8;
  border-radius: 15px;
  @include fontfamily("Montserrat", 18px, $textcolor, normal);
  span {
    width: 80%;
    margin: 0 auto;
  }
}

.SettingsContainer {
  padding: 0rem 4rem 2rem 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .CardHandler {
    padding: 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .CardContent {
      display: flex;
      .CardInfo {
        margin-left: 10px;
        text-align: left;
        :nth-child(1) {
          @include fontfamily("Arial", 18px, #bcc5d3, normal);
        }
        :nth-child(2) {
          @include fontfamily("Arial", 17px, #4C5264, normal);
        }
      }
    }
    .Arrow {
      width: 9px;
      height: 16px;
    }
  }

  .SettingsProfileView {
    width: 48%;
    margin: 0 auto;
    .SettingsContent {
      width: 100%;
      padding: 0 3rem;
      .SettingsTab {
        @include tabsCss(white, #141622,70px);
      }
      .SettingsTabActive {
        @include tabsCss(#64f1b8, white ,70px);
      }
    }
  }
  .SettingsViewer1,
  .SettingsViewer2 {
    width: 48%;
    .SettingsContent {
      width: 100%;
      //   background-color: purple;
      padding: 0 3rem;
      .SettingsTab {
        @include tabsCss(white, #141622,70px);
      }
      .SettingsTabActive {
        @include tabsCss(#64f1b8, white,70px);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .SettingsContainer {
    padding: 0rem;
    .SettingsProfileView {
      width: 100%;
    }
    .SettingsViewer1 {
      display: none;
    }
    .SettingsViewer2 {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .SettingsContainer {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .SettingsContainer {
    padding-bottom: 100px;
      .SettingsContent {
        .SettingsTab {
          @include tabsCss(white, #141622,58px);
        }
        .SettingsTabActive {
          @include tabsCss(#64f1b8, white ,58px);
        }
      }
    }
}
