@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.post {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.posthandler {
  position: relative;
  /* background-color: red; */
}

.CardHeader {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.UserAddress {
  font-family: "Montserrat", sans-serif;
  color: #352641;
  font-size: 18px;
}

.UserName {
  font-family: "Montserrat", sans-serif;
  color: #241332;
  font-size: 21px;
  font-weight: bold;
}

.PostDes {
  font-family: "Montserrat", sans-serif;
  color: #817889;
  font-size: 13px;
  text-align: left;
}

.PostDate {
  font-family: "Montserrat", sans-serif;
  color: #afb5b9;
  font-size: 17px;
}

.PostArrow {
  display: none;
}

.PostMedia {
  margin: 40px auto;
  width: 383px;
  height: 204px;
  border-radius: 15px;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  
}

/* .PostMedia:hover{
  transform: scale(1.6);
  transition: 1s;
} */

.postText {
  font-family: "Montserrat", sans-serif;
  color: #817889;
  font-size: 12px;
  font-weight: bold;
}

.avatarStyle {
  content: "";
  position: absolute;
  left: 0;
  border: 2px solid #2bc2d3;
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 680px) {
  .PostMedia {
    margin: 20px auto;
    width: 100%;
    height: 180px;
    border-radius: 15px;
  }
  .avatarStyle {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .post {
    border-bottom-left-radius: 15%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
  .CardHeader {
    margin-left: 35px;
  }
  .PostMedia {
    margin: 10px auto;
    width: 100%;
    height: 140px;
    border-radius: 15px;
  }
  .PostDate {
    display: none;
  }
  .PostArrow {
    display: block;
  }

  .avatarStyle {
    border: 2px solid #2bc2d3;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .UserName {
    font-family: "Montserrat", sans-serif;
    color: #241332;
    font-size: 16px;
    font-weight: bold;
  }
  .UserAddress {
    font-family: "Montserrat", sans-serif;
    color: #352641;
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  .UserName {
    font-family: "Montserrat", sans-serif;
    color: #241332;
    font-size: 12px;
    font-weight: bold;
  }
  .UserAddress {
    font-family: "Montserrat", sans-serif;
    color: #352641;
    font-size: 10px;
  }
}
