.ImageHandler {
  width: 120px;
  height: 120px;
  border-radius: 15%;
  object-fit: contain;
  border: 4px solid #2bc2d3;
  color: #241332;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ModalHandler { 
  border-radius: 25px;
  background-color: white;
  border-bottom-left-radius: 40%;
  overflow: hidden;
}

.ant-modal {
  padding-bottom: 0;
}

.modal-buttom {
  color: #36eea3;
  width: 265px;
  height: 86px;
  background-color: transparent;
  font-size: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 2px solid #36eea3;
  border-radius: 5px;
}

.labelStyle {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #241332;
}

.closeImg {
  width: 25px;
  height: 25px;
}

.Heading {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.formStyle {
  text-align: center;
}
.inputStyle {
  width: 460px;
  height: 80px;
  font-size:24px;
  text-align: center;
}

.inputStyle::placeholder {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0 1rem;
}

.labelStyle2 {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #241332;
  text-align: right;
}

@media only screen and (max-width: 680px) {
  .ImageHandler {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    object-fit: contain;
    border: 2px solid #2bc2d3;
    overflow: hidden;
  }

  .ModalHandler {
    width: 351px !important;
    border-radius: 25px;
    background-color: white;
    border-bottom-left-radius: 40%;
    overflow: hidden;
  }

 
  .modal-buttom {
    color: #36eea3;
    width: 140px;
    height: 45px;
    background-color: transparent;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #36eea3;
    border-radius: 5px;
  }

  .labelStyle {
    /* margin-left: 50px; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #241332;
  }

  .closeImg {
    width: 25px;
    height: 25px;
  }

  .Heading {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .formStyle {
    text-align: center;
  }
  .inputStyle {
    width: 290px;
    height: 60px;
  }

  .inputStyle::placeholder {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 0 1rem;
  }

  .labelStyle2 {
    /* margin-left: 50px; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #241332;
    text-align: right;
  }
}

@media only screen and (max-width: 320px) {
  .ImageHandler {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    object-fit: contain;
    border: 2px solid #2bc2d3;
    overflow: hidden;
  }

  .ModalHandler {
    width: 250px !important;
    border-radius: 25px;
    background-color: white;
    border-bottom-left-radius: 40%;
    overflow: hidden;
  }

  .labelStyle { 
    font-size: 14px;
  }

  .closeImg {
    width: 15px;
    height: 15px;
  }

  .Heading {
    font-size: 12px; 
  }

  .inputStyle {
    width: 200px;
    height: 40px;
  }

  .inputStyle::placeholder {
    font-size: 16px;
  }

  .labelStyle2 {
    font-size: 14px;
  }
}
