.mobileDesign {
  display: none;
}

.modalwidth{
  position: relative;
  /* padding:0 100px; */
}

@media only screen and (max-width: 1120px) {
  .modalwidth{
    position: relative;
    padding: 0 50px;
  }
}


@media only screen and (max-width: 820px) {
  .modalwidth{
    position: relative;
    padding:0 25px;
  }
}

@media only screen and (max-width: 570px) {
  .desktopDesign {
    display: none;
  }
  .mobileDesign {
    display: block;
  }
}
