.Footer {
  background-color: #2bc2d3;
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  .MobileFooter {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .Footer {
    position: fixed;
    bottom: 0;
    height: 42px;
    width: 100%;
    border-top-right-radius: 35px;
    border: none;
    display: flex; 
    .MobileFooter {
      padding: 1rem 1.5rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Active {
        background-color: #2bc2d3;
        border-radius: 100%;
        padding: 1rem 0.4rem;
      }
      .NotActive {
        background-color: transparent;
        border-radius: 100%;
        padding: 1rem 0.4rem;
      }
      img {
        width: 75%;
        height: 75%;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .Footer {
    .MobileFooter {
      padding: 1.2rem 1rem;
      .Active {
        background-color: #2bc2d3;
        border-radius: 100%;
        padding: 1rem 0.5rem;
      }
      .NotActive {
        background-color: transparent;
        border-radius: 100%;
        padding: 0.8rem 0.4rem;
      }
    }
  }
}
