@import "../../../css/main.scss";
@import "../../../mobileReuseable/blueheader/header.module.scss";
.dualcontainer {
  width: 100%;
  margin: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  // z-index: 10000;
  @extend %data-shared;
}
%data-shared {
  height: 100%;
  margin: 0 auto;
  .card {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e2e8ed;
    .hide {
      display: none;
    }
    .Options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .textHandler {
        position: absolute;
        left: 50px;
        text-align: left;
        div:nth-child(1) {
          @include fontfamily("Montserrat", 22px, #4c5264, bold);
        }
        div:nth-child(2) {
          @include fontfamily("Arial", 16px, #4c5264, normal);
        }
      }
      .comment {
        position: absolute;
        right: 180px;
        background-color: #2bc2d3;
        width: 80px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .gift {
        position: absolute;
        right: 100px;
        background-color: #51f0b0;
        width: 80px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .settings {
        position: absolute;
        right: 50px;
      }
    }
    .CardHandler {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .IsOnline {
        position: absolute;
        left: 50px;
        background-color: #2bc2d3;
        width: 19px;
        height: 19px;
        border-radius: 100%;
      }
      .Offline {
        position: absolute;
        left: 50px;
        background-color: #e2e8ed;
        width: 19px;
        height: 19px;
        border-radius: 100%;
      }
      .Avatar {
        position: absolute;
        left: 150px;
        width: 64px;
        height: 40px;
        border-radius: 8px;
      }
      .textHandler {
        position: absolute;
        left: 250px;
        text-align: left;
        div:nth-child(1) {
          @include fontfamily("Montserrat", 22px, #4c5264, bold);
        }
        div:nth-child(2) {
          @include fontfamily("Arial", 16px, #4c5264, normal);
        }
      }
      .settings {
        position: absolute;
        right: 50px;
      }
    }
  }
}
.container {
  width: 611px;
  @extend %data-shared;
}

@media only screen and (max-width: 1080px) {
  .dualcontainer {
    .card {
      .Options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .textHandler {
          position: absolute;
          left: 25px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 16px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 14px, #4c5264, normal);
          }
        }
        .comment {
          right: 100px;
          width: 40px;
          height: 30px;
        }
        .gift {
          right: 60px;
          width: 40px;
          height: 30px;
        }
        .settings {
          position: absolute;
          right: 25px;
        }
      }
      .CardHandler {
        .IsOnline,
        .Offline {
          left: 25px;
          width: 12px;
          height: 12px;
        }
        .Avatar {
          left: 60px;
          width: 40px;
          height: 40px;
        }
        .textHandler {
          position: absolute;
          left: 120px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 14px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 12px, #4c5264, normal);
          }
        }
        .settings {
          position: absolute;
          right: 25px;
          width: 19px;
          height: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    .card {
      .Options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .textHandler {
          position: absolute;
          left: 25px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 16px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 14px, #4c5264, normal);
          }
        }
        .comment {
          right: 125px;
          width: 50px;
          height: 40px;
          img {
            width: 20px;
            height: 17px;
          }
        }
        .gift {
          right: 75px;
          width: 50px;
          height: 40px;
          img {
            width: 20px;
            height: 17px;
          }
        }
        .settings {
          position: absolute;
          right: 25px;
          img {
            width: 20px;
            height: 17px;
          }
        }
      }
      .CardHandler {
        .IsOnline,
        .Offline {
          left: 25px;
          width: 12px;
          height: 12px;
        }
        .Avatar {
          left: 75px;
          width: 40px;
          height: 40px;
        }
        .textHandler {
          position: absolute;
          left: 150px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 16px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 14px, #4c5264, normal);
          }
        }
        .settings {
          position: absolute;
          right: 25px;
          width: 19px;
          height: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .container {
    .card {
      .Options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .textHandler {
          position: absolute;
          left: 25px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 16px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 14px, #4c5264, normal);
          }
        }
        .comment {
          right: 100px;
          width: 40px;
          height: 30px;
        }
        .gift {
          right: 60px;
          width: 40px;
          height: 30px;
        }
        .settings {
          position: absolute;
          right: 25px;
        }
      }
      .CardHandler {
        .IsOnline,
        .Offline {
          left: 25px;
          width: 12px;
          height: 12px;
        }
        .Avatar {
          left: 60px;
          width: 40px;
          height: 40px;
        }
        .textHandler {
          position: absolute;
          left: 120px;
          text-align: left;
          div:nth-child(1) {
            @include fontfamily("Montserrat", 14px, #4c5264, bold);
          }
          div:nth-child(2) {
            @include fontfamily("Arial", 12px, #4c5264, normal);
          }
        }
        .settings {
          position: absolute;
          right: 25px;
          width: 19px;
          height: 5px;
        }
      }
    }
  }
}
