@import "../../../../css/main.scss";

.container {
  width: 100%;
  height: 100%;
  // padding-bottom: 100px;
  margin: 0 auto;
  position: relative;

  .tabcontainer {
    padding: 1.5rem 0;
    .tabcontent {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .tabcard {
        width: 150px;
        height: 70px;
        padding: 0.2rem 0;
        border: 1px solid #9a9ca2;
        border-radius: 5px;
        div {
          @include fontfamily("Montserrat", 13px, #4c5264, bold);
        }
        Button {
          margin-top: 0.5rem;
          @include fontfamily("Montserrat", 14px, #2bc2d3, bold);
          width: 120px;
          height: 28px;
          border-radius: 20px;
          border: 1px solid #9a9ca2;
        }
      }
      .tabicons {
        display: flex;
        justify-content: space-between;
        width: 180px;
      }
    }
    .tabhandler {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;
      width: 100%;
    }
  }
  .subcard {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .subcardAvatar {
      width: 40px;
      height: 40px;
      border-radius: 10px !important;
    }
    .subcardheading {
      text-align: left;
      width: 200px;
      @include fontfamily("Montserrat", 16px, #4c5264, bold);
    }
    .subcardtime {
      @include fontfamily("Arial", 12px, #bcc5d3, bold);
    }
  }
  .AboutHandler {
    text-align: left;

    .Aboutheading {
      padding: 1rem 2.5rem;
      @include fontfamily("Montserrat", 20px, #4c5264, bold);
    }
    .Aboutparagraph {
      padding: 0 2.5rem;
      @include fontfamily("Arial", 14px, #4c5264, normal);
    }
    .Aboutparagraph2 {
      padding: 1rem 2.5rem;
      display: flex;
      img {
        width: 10px;
        height: 9px;
      }
      @include fontfamily("Arial", 14px, #4c5264, normal);
      div {
        margin-left: 50px;
      }
    }
  }
}

.Header {
  position: relative;
  background-color: #2bc2d3;
  width: 100%;
  height: 207px;
  border-bottom-left-radius: 100px;
  .text {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
      @include fontfamily("Montserrat", 24px, white, bold);
    }
    span:nth-child(2) {
      @include fontfamily("Arial", 20px, white, normal);
    }
    span:nth-child(3) {
      @include fontfamily("Arial", 16px, white, normal);
    }
  }

  .arrowleft {
    position: absolute;
    width: 25px;
    left: 20px;
    top: 20px;
    z-index: 1;
  }

  .arrowRight {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .search {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .bgStyle {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 207px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }
  .bgStyle img {
    min-width: 100%; 
  }
  .avatarStyle {
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 108px;
    height: 88px;
    border-radius: 15px;
    border: 5px solid white;
    z-index: 1;
  }
}

.RowStyle {
  padding: 1rem 0;
  border-bottom: 1px solid $border-bottom-color;
  .ColStyle {
    @include flexColumn();
    .heading {
      @include fontfamily("Arial", 18px, $heading-gray, normal);
    }
    .status {
      @include fontfamily("Montserrat", 18px, $heading-gray, bold);
    }
  }
}
.showmobileInfo {
  display: flex;
  width: 100%;
  background-color: $heading-bg-mobile;
  padding: 1rem 0;

  .mobileInfoCol {
    @include flexColumn();
    width: 100px;
  }
  .mobileInfoCol {
    span:nth-child(1) {
      @include fontfamily("Montserrat", 20px, white, bold);
    }
    span:nth-child(2) {
      @include fontfamily("Montserrat", 12px, white, bold);
    }
  }
}
.mobileInfo {
  display: none;
}

.headercontainer {
  background-color: $heading-bg-mobile;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}

@media only screen and (max-width: 980px) {
  
  .container {
    // width: 675px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    .NewPostButton {
      content: "";
      position: fixed;
      bottom: 85px;
      right: 20px;
      background-color: $heading-bg-mobile;
      width: 92px;
      height: 71px;
      @include flexRow();
      border-radius: 25px;
      z-index: 10;
    }
  }
}
@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .NewPostButton {
      bottom: 50px;
      right: 10px;
      background-color: $heading-bg-mobile;
      width: 52px;
      height: 52px;
      @include flexRow();
      border-radius: 25px;
      z-index: 10;
    }
  }
  .Header {
    width: 100%;
    height: 207px;
    .search {
      display: block;
    }
  }
  .headercontainer {
    background-color: $heading-bg-mobile;
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }
  .mobileInfo {
    display: flex;
    width: 100%;
    background-color: $heading-bg-mobile;
    padding: 1rem 0;

    .mobileInfoCol {
      @include flexColumn();
      width: 100px;
    }
    .mobileInfoCol {
      span:nth-child(1) {
        @include fontfamily("Montserrat", 20px, white, bold);
      }
      span:nth-child(2) {
        @include fontfamily("Montserrat", 12px, white, bold);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Header {
    width: 100%;
    height: 190px;
    .text {
      span:nth-child(1) {
        @include fontfamily("Montserrat", 20px, white, bold);
      }
      span:nth-child(2) {
        @include fontfamily("Arial", 16px, white, normal);
      }
      span:nth-child(3) {
        @include fontfamily("Arial", 16px, white, normal);
      }
    }
    .bgStyle {
      height: 190px;
    }
    .avatarStyle {
      left: 10px;
      width: 90px;
      height: 80px;
    }
  }

  .mobileInfo {
    padding: 1rem 0;
    box-sizing: border-box;
    .mobileInfoCol {
      width: 90px;
    }
    .mobileInfoCol {
      span:nth-child(1) {
        @include fontfamily("Montserrat", 20px, white, bold);
      }
      span:nth-child(2) {
        @include fontfamily("Montserrat", 11px, white, bold);
      }
    }
  }
  .container {
    .ButtonStyle {
      height: 50px;
    }
    width: 100%;
    .AboutHandler {
      text-align: left;
      padding-bottom: 100px;
      .Aboutheading {
        padding: 1rem 1rem;
        @include fontfamily("Montserrat", 20px, #4c5264, bold);
      }
      .Aboutparagraph {
        padding: 0 1rem;
        @include fontfamily("Arial", 14px, #4c5264, normal);
      }
      .Aboutparagraph2 {
        padding: 1rem 1rem;
        display: flex;
        img {
          width: 10px;
          height: 9px;
        }
        @include fontfamily("Arial", 14px, #4c5264, normal);
        div {
          margin-left: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {

  .container {
    .subcard {
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      align-items: center;
      .subcardAvatar {
        width: 40px;
        height: 40px;
        border-radius: 8px !important;
      }
      .subcardheading {
        text-align: left;
        width: 180px;
        @include fontfamily("Montserrat", 13px, #4c5264, bold);
      }
      .subcardtime {
        @include fontfamily("Arial", 12px, #bcc5d3, bold);
      }
    }
  }
}

@media only screen and (max-width: 300px) {
 
  .container {
    .AboutHandler {
      text-align: left;

      .Aboutheading {
        padding: 1rem 0.5rem;
        @include fontfamily("Montserrat", 16px, #4c5264, bold);
      }
      .Aboutparagraph {
        padding: 0 0.5rem;
        @include fontfamily("Arial", 12px, #4c5264, normal);
      }
      .Aboutparagraph2 {
        padding: 1rem 0.5rem;
        display: flex;
        img {
          width: 10px;
          height: 9px;
        }
        @include fontfamily("Arial", 12px, #4c5264, normal);
        div {
          margin-left: 25px;
        }
      }
    }
    .subcard {
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      align-items: center;
      .subcardAvatar {
        width: 30px;
        height: 30px;
        border-radius: 8px !important;
      }
      .subcardheading {
        text-align: left;
        width: 150px;
        @include fontfamily("Montserrat", 13px, #4c5264, bold);
      }
      .subcardtime {
        @include fontfamily("Arial", 12px, #bcc5d3, bold);
      }
    }
  }
}
