@import "../../css/main.scss";

@mixin tabsCss($bg, $textcolor) {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  padding: 0 20px 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg;
  border: 1px solid #64f1b8;
  border-radius: 15px;
  @include fontfamily("Montserrat", 18px, $textcolor, normal);
  span {
    width: 80%;
    margin: 0 auto;
  }
}
.container {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  .sidebarcontainer {
    width: 25%;
    .MenuList {
      width: 100%;
      padding: 30 3rem;
      .SettingsTab {
        @include tabsCss(white, #141622);
      }
      .SettingsTabActive {
        @include tabsCss(#64f1b8, white);
      }
    }
  }
  .AdminDBcontainer {
    padding-bottom: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .Tab1 {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      text-align: left;
      @include fontfamily("Montserrat", 20px, white, bold);

      :nth-child(1) {
        .img1 {
          position: absolute;
          right: -20px;
          top: 0;
        }
      }
      :nth-child(2) {
        .img1 {
          position: absolute;
          right: 0px;
          top: 0;
        }
      }
      :nth-child(3) {
        .img1 {
          position: absolute;
          right: 0px;
          top: -90px;
        }
      }
      :nth-child(4) {
        .img1 {
          position: absolute;
          right: 10px;
          top: 20px;
        }
      }
      .card {
        width: 197px;
        height: 179px;
        background-color: #2bc2d3;
        border-radius: 5px;
        position: relative;
        .cardtext {
          margin-top: 50px;
          margin-left: 10px;
          :nth-child(1) {
            margin-bottom: 5px;
          }
        }
        .cardButton {
          width: 100%;
          height: 50px;
          background-color: rgba($color: #000000, $alpha: 0.1);
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-align: center;
        }
      }
    }
    .Tab2 {
      margin-bottom: 20px;
      height: 145px;
      box-shadow: 0px 2px 5px 5px rgba($color: #000000, $alpha: 0.2);
      .tabHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        @include fontfamily("Montserrat", 22px, #2bc2d3, bold);
      }
      :nth-child(2) {
        @include fontfamily("Montserrat", 22px, #2bc2d3, normal);
      }
      .Tabcontent2 {
        padding: 0 1rem;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .chartHandler {
      width: 100%;
      height: 436px;
    }
    .MapHandler {
      margin: 100px 0;
      width: 100%;
      height: 436px;
    }
    .Tab3Handler {
      display: flex;
      justify-content: space-between;
      .SubCol,
      .MembersCol {
        width: 45%;
        height: min-content;
        box-shadow: 0 2px 10px 2px rgba($color: #000000, $alpha: 0.2);
        .Tab3Head {
          padding: 1rem 0;
          height: 70px;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
          @include fontfamily("Montserrat", 25px, #878787, bold);
        }
      }
      .SubCol,
      .MembersCol {
        .ViewAll {
          display: flex;
          align-items: center;
          justify-content: center;
          @include fontfamily("Montserrat", 17px, #2bc2d3, bold);
          height: 70px;
        }
        .HideViewAll {
          display: none;
        }
        .Tab3Card1 {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 3rem;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
          text-align: left;
          .text {
            margin-left: 10px;
            .texth1 {
              @include fontfamily("Montserrat", 17px, #878787, bold);
            }
            .texth2 {
              @include fontfamily("Montserrat", 15px, #878787, normal);
            }
          }
          .ActiveButton {
            background-color: #51f0b0;
            height: 26px;
            width: 66px;
            border: none;
            border-radius: 2px;
            padding: 0.1rem;
            @include fontfamily("Montserrat", 15px, white, bold);
          }
        }
        .Tab3Card2 {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
          padding: 1rem 3rem;
          text-align: left;
          .text {
            margin-left: 10px;
            .texth1 {
              @include fontfamily("Montserrat", 17px, #878787, bold);
            }
            .texth2 {
              @include fontfamily("Montserrat", 15px, #878787, normal);
            }
          }
          .ActiveButton {
            background-color: #51f0b0;
            height: 26px;
            width: 66px;
            border: none;
            border-radius: 2px;
            padding: 0.1rem;
            @include fontfamily("Montserrat", 15px, white, bold);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
    .sidebarcontainer {
      display: none;
    }
    .AdminDBcontainer {
      width: 100%;
      .Tab1 {
        .card {
          width: 150px;
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .container {
    padding: 0rem;
    .AdminDBcontainer {
      width: 100%;
      .Tab1 {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        text-align: left;
        @include fontfamily("Montserrat", 14px, white, bold);

        :nth-child(1) {
          .img1 {
            position: absolute;
            right: -20px;
            top: 0;
          }
        }
        :nth-child(2) {
          .img1 {
            position: absolute;
            right: 0px;
            top: 0;
          }
        }
        :nth-child(3) {
          .img1 {
            position: absolute;
            right: 0px;
            top: -90px;
          }
        }
        :nth-child(4) {
          .img1 {
            position: absolute;
            right: 10px;
            top: 20px;
          }
        }
        .card {
          width: 140px;
          height: 155px;
          background-color: #2bc2d3;
          border-radius: 5px;
          position: relative;
          .cardtext {
            margin-top: 50px;
            margin-left: 10px;
            :nth-child(1) {
              margin-bottom: 5px;
            }
          }
          .cardButton {
            width: 100%;
            height: 50px;
            background-color: rgba($color: #000000, $alpha: 0.1);
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
          }
        }
      }
      .Tab2 {
        margin-bottom: 20px;
        height: 145px;
        box-shadow: 0px 2px 5px 5px rgba($color: #000000, $alpha: 0.2);
        .tabHeader {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40%;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          @include fontfamily("Montserrat", 14px, #2bc2d3, bold);
        }
        :nth-child(2) {
          @include fontfamily("Montserrat", 14px, #2bc2d3, normal);
        }
        .Tabcontent2 {
          padding: 0 1rem;
          height: 60%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .chartHandler {
        width: 100%;
        height: 436px;
      }
      .MapHandler {
        width: 100%;
        height: 436px;
      }
      .Tab3Handler {
        .SubCol,
        .MembersCol {
          width: 48%;
          .Tab3Card1 {
            padding: 1rem 2rem;
          }

          .Tab3Card2 {
            padding: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 0rem 1rem;
    .AdminDBcontainer {
      width: 100%;
      .Tab1 {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        @include fontfamily("Montserrat", 14px, white, bold);

        :nth-child(1) {
          .img1 {
            position: absolute;
            right: -20px;
            top: 0;
          }
        }
        :nth-child(2) {
          .img1 {
            position: absolute;
            right: 0px;
            top: 0;
          }
        }
        :nth-child(3) {
          .img1 {
            position: absolute;
            right: 0px;
            top: -90px;
          }
        }
        :nth-child(4) {
          .img1 {
            position: absolute;
            right: 10px;
            top: 20px;
          }
        }
        .card {
          width: 100%;
          margin-bottom: 10px;
          height: 160px;
          background-color: #2bc2d3;
          border-radius: 5px;
          position: relative;
          .cardtext {
            margin-top: 50px;
            margin-left: 10px;
            :nth-child(1) {
              margin-bottom: 5px;
            }
          }
          .cardButton {
            width: 100%;
            height: 50px;
            background-color: rgba($color: #000000, $alpha: 0.1);
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
          }
        }
      }
      .Tab2 {
        margin-bottom: 20px;
        height: 145px;
        box-shadow: 0px 2px 5px 5px rgba($color: #000000, $alpha: 0.2);
        .tabHeader {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40%;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          @include fontfamily("Montserrat", 14px, #2bc2d3, bold);
        }
        :nth-child(2) {
          @include fontfamily("Montserrat", 14px, #2bc2d3, normal);
        }
        .Tabcontent2 {
          padding: 0 1rem;
          height: 60%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .chartHandler {
        width: 100%;
        height: 300px;
      }
      .MapHandler {
        margin: 20px 0;
        width: 100%;
        height: 300px;
      }
      .Tab3Handler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .SubCol,
        .MembersCol {
          width: 100%;
          height: min-content;
          box-shadow: 0 2px 10px 2px rgba($color: #000000, $alpha: 0.2);
          .Tab3Head {
            padding: 1rem 0;
            height: 70px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            @include fontfamily("Montserrat", 25px, #878787, bold);
          }
        }
        .SubCol,
        .MembersCol {
          .ViewAll {
            display: flex;
            align-items: center;
            justify-content: center;
            @include fontfamily("Montserrat", 17px, #2bc2d3, bold);
            height: 70px;
          }
          .HideViewAll {
            display: none;
          }
          .Tab3Card1 {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            text-align: left;
            .text {
              margin-left: 10px;
              .texth1 {
                @include fontfamily("Montserrat", 14px, #878787, bold);
              }
              .texth2 {
                @include fontfamily("Montserrat", 12px, #878787, normal);
              }
            }
            .ActiveButton {
              background-color: #51f0b0;
              height: 26px;
              width: 66px;
              border: none;
              border-radius: 2px;
              padding: 0.1rem;
              @include fontfamily("Montserrat", 15px, white, bold);
            }
          }
          .Tab3Card2 {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            padding: 1rem;
            text-align: left;
            .text {
              margin-left: 10px;
              .texth1 {
                @include fontfamily("Montserrat", 14px, #878787, bold);
              }
              .texth2 {
                @include fontfamily("Montserrat", 12px, #878787, normal);
              }
            }
            .ActiveButton {
              background-color: #51f0b0;
              height: 26px;
              width: 66px;
              border: none;
              border-radius: 2px;
              padding: 0.1rem;
              @include fontfamily("Montserrat", 15px, white, bold);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .container {
    padding: 0rem 1rem;
    .AdminDBcontainer {
      width: 100%;
      .Tab3Handler {
        .SubCol,
        .MembersCol {
          .Tab3Card2 {
            text-align: left;
          }
        }
      }
    }
  }
}
