@import "../../../css/main.scss";

.HideMsgHandler
.Mobilearrow,
.MobileSettings,
.MobileIcons {
  display: none;
}

.ShowMsgHandler{
  display: block;
}
.chatopened {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;
  .Messages {
    width: 50%;
  }
  .Chat {
    width: 50%;
    .ChatHeader {
      // position: fixed;
      // z-index: 99;
      padding: 0.5rem 4rem;
      // width: 100%;
      height: 90px;
      box-shadow: 0 2px #e7e4e9;
      .HeaderTop {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        @include fontfamily("Montserrat", 24px, #707070, bold);
        justify-content: space-between;
        text-align: left;
        .arrow {
          width: 19px;
          height: 14px;
        }
        .Name {
          width: 400px;
        }
      }
      .ChatHeaderBottom {
        display: flex;
        justify-content: space-between;
        @include fontfamily("Montserrat", 14px, #707070, normal);
        .HeaderIcons {
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          :nth-child(1) {
            width: 20px;
            height: 19px;
          }
          :nth-child(2) {
            width: 24px;
            height: 24px;
          }
          :nth-child(3) {
            width: 23px;
            height: 16px;
          }
          :nth-child(1) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .ChatHandler {
      height: 80vh;
      padding: 0 4rem;
      color: white;
      overflow-y: scroll;
      .MessageFrom {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        .MessageInfo {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          .Avatar {
            width: 72px;
            height: 72px;
          }
          .User {
            margin-right: 15px;
            @include fontfamily("Montserrat", 22px, #241332, bold);
          }
        }
        .Msg {
          align-self: flex-end;
          margin: 10px 0;
          text-align: left;
          height: min-content;
          background-color: #2bc2d3;
          border-radius: 25px;
          padding: 1rem 3rem;
          @include fontfamily("Montserrat", 14px, white, 400);
        }
      }
      .MessageTo {
        display: flex;
        flex-direction: column;
        .MessageInfo {
          display: flex;
          align-items: center;
          .Avatar {
            width: 72px;
            height: 72px;
          }
          .User {
            margin-left: 15px;
            @include fontfamily("Montserrat", 22px, #241332, bold);
          }
        }
        .Msg {
          align-self: flex-start;
          margin: 10px 0;
          text-align: left;
          height: min-content;
          background-color: #64f1b8;
          border-radius: 25px;
          padding: 1rem 3rem;
          @include fontfamily("Montserrat", 14px, white, 400);
        }
      }
    }
    .FooterHandler {
      width: 100%;
      padding: 0 6rem;
      margin-bottom: 100px;
      .Input {
        width: 100%;
        height: 60px;
        border-radius: 25px;
        border: 1px solid #a4abb0;
      }
      .FooterContent {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        :nth-child(1) {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          img:nth-child(1) {
            width: 36px;
            height: 27px;
          }
          img:nth-child(2) {
            width: 37px;
            height: 37px;
          }
        }
        :nth-child(2) {
          @include fontfamily("Montserrat", 21px, white, 600);
          color: #707070;
          text-align: center;
          width: 90px;
          height: 42px;
          border-radius: 20px;
          border: 2px solid #707070;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .chatopened {
    padding: 0;
    .Chat {
      .ChatHeader {
        padding: 0.5rem 3rem;
        height: 90px;
        box-shadow: 0 2px #e7e4e9;
        .HeaderTop {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          @include fontfamily("Montserrat", 24px, #707070, bold);
          justify-content: space-between;
          text-align: left;
          .arrow {
            width: 19px;
            height: 14px;
          }
          .Name {
            width: 100%;
          }
        }
        .ChatHeaderBottom {
          display: flex;
          justify-content: space-between;
          @include fontfamily("Montserrat", 14px, #707070, normal);
          .HeaderIcons {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            :nth-child(1) {
              width: 20px;
              height: 19px;
            }
            :nth-child(2) {
              width: 24px;
              height: 24px;
            }
            :nth-child(3) {
              width: 23px;
              height: 16px;
            }
            :nth-child(1) {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .chatopened {
    padding: 0;
    .Messages {
      display: none;
    }
    .Chat {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .chatopened {
    .Chat {
      .ChatHeader {
        padding: 0rem 2rem;
        height: 100px;
        background-color: #2bc2d3;
        border-bottom-left-radius: 40px;
        .HeaderTop {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          @include fontfamily("Montserrat", 24px, white, bold);
          justify-content: space-between;
          text-align: center;
          .Mobilearrow {
            display: block;
            width: 19px;
            height: 14px;
          }
          .arrow {
            display: none;
          }
          .Settings {
            display: none;
          }
          .MobileSettings {
            display: block;
          }
          .Name {
            width: 100%;
          }
        }
        .ChatHeaderBottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include fontfamily("Montserrat", 12px, white, normal);
          .HeaderIcons {
            display: none;
          }
          .MobileIcons {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            :nth-child(1) {
              width: 20px;
              height: 19px;
            }
            :nth-child(2) {
              width: 24px;
              height: 24px;
            }
            :nth-child(3) {
              width: 23px;
              height: 16px;
            }
            :nth-child(1) {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .ChatHandler {
        height: 70vh;
        padding: 0 2rem;
        color: white;
        overflow-y: scroll;
        .MessageFrom {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          .MessageInfo {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .Avatar {
              width: 22px;
              height: 22px;
            }
            .User {
              margin-right: 15px;
              @include fontfamily("Montserrat", 13px, #241332, bold);
            }
          }
          .Msg {

            margin-right: -30px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            padding: 1rem 2rem;
            @include fontfamily("Montserrat", 14px, white, 400);
          }
        }
        .MessageTo {
          display: flex;
          flex-direction: column;
          .MessageInfo {
            display: flex;
            align-items: center;
            .Avatar {
              width: 22px;
              height: 22px;
            }
            .User {
              margin-left: 15px;
              @include fontfamily("Montserrat", 13px, #241332, bold);
            }
          }
          .Msg {
            margin-left: -30px;
            padding: 1rem 2rem;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            @include fontfamily("Montserrat", 12px, white, 400);
          }
        }
      }

      .FooterHandler {
        width: 100%;
        padding: 0 2rem;
        .Input {
          width: 100%;
          height: 40px;
          border-radius: 25px;
          border: 1px solid #a4abb0;
        }
        .FooterContent {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          :nth-child(1) {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img:nth-child(1) {
              width: 26px;
              height: 20px;
            }
            img:nth-child(2) {
              width: 26px;
              height: 26px;
            }
          }
          :nth-child(2) {
            @include fontfamily("Montserrat", 11px, white, bold);
            color: #707070;
            text-align: center;
            width: 60px;
            height: 24px;
            border-radius: 20px;
            border: 2px solid #707070;
          }
        }
      }
    }
  }
}
