.heading{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #2F2E41;
}

@media only screen and (max-width: 600px) {
    .heading{
        font-size: 38px;
    }    
}

@media only screen and (max-width: 350px) {
    .heading{
        font-size: 30px;
    }    
}